@charset "UTF-8";

/* 
   css du plugin ald-functions-FacilitationZ
   
*/

/*****
* en général
*****/
a img {
	opacity: 1;
	border: 1px lightgrey solid;
	padding: 0.4rem;
}

/*****
* pour les shortcodes
*****/

#ald-functions {
	margin-bottom: 2rem;
}

.ald-functions-gauche, 
.ald-functions-droite {
	overflow: hidden;
	width: 100%;
	/* padding-right: 30px;
	padding-left: 30px; */
}

.ald-functions-gauche > .image-holder,
.ald-functions-droite > .image-holder {
	width: 40%;
	line-height: 200px; /* see http://www.vanseodesign.com/css/vertical-centering/  */
}

.ald-functions-droite > .text-holder,
.ald-functions-gauche > .text-holder  {
	width: 55% ;
}


.ald-functions-droite > .image-holder,
.ald-functions-gauche > .text-holder {
	float: left;
}

.ald-functions-gauche > .image-holder,
.ald-functions-droite > .text-holder {
	float: right;
}


#ald-functions > div.image-holder > a > img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;	
	border: none;

}

#hr-ald-functions {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

/*****
* pour le formulaire à l'intérieur du shortcode 
*****/
#ald-functions span.wpcf7-list-item {
	display: block ;
}

form#contact-codev {
	border: 2px solid #E50745;
	padding: 1rem;
}

form#contact-codev p {
	font-size: 80%;
}

#ald-functions input[type=email], 
#ald-functions input[type=text], 
#ald-functions textarea {
	padding: 5px .5rem;
	font-size: 0.8rem;
}

#ald-functions p.privacy-spam {
	font-style: italic;
	opacity: 0.7;
}
